<!DOCTYPE html>
<html lang="de"> 
<meta charset="UTF-8">

<head>

<title>Level 5</title>

<style>
    body {
margin: 0;
height: 100vh;
background: linear-gradient(to right, #fffeff, #a4e1f1);
overflow: hidden;
display: flex;
justify-content: center;   /* horizontal zentrieren */
align-items: center;       /* vertikal zentrieren */
/*height: 100vh;             /* ganze Bildschirmhöhe */
font-family: Aria l, sans-serif;
        }
</style>

</head>

<body>

<center>

<h1>Finde das richtige Wort:</h1>

<!--Eingabefelder für das Lösungswort-->
<input type="text" maxlength="1" size="1">
<input type="text" maxlength="1" size="1">
<input type="text" maxlength="1" size="1">
<input type="text" maxlength="1" size="1">
<input type="text" maxlength="1" size="1"/> 
<br> <br>
<input type="text" maxlength="1" size="1">
<input type="text" maxlength="1" size="1">
<input type="text" maxlength="1" size="1">
<input type="text" maxlength="1" size="1">
<input type="text" maxlength="1" size="1">
<input type="text" maxlength="1" size="1">
<input type="text" maxlength="1" size="1"/>

</center>



</body>